{
    "extends": ["@js-soft/ts"],
    "parserOptions": {
        "project": ["./packages/*/tsconfig.json", "./packages/*/test/tsconfig.json"]
    },
    "ignorePatterns": ["jest.config.js"],
    "rules": {}
}
